* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    /*background-image: url('e7ee3a80-57b7-464b-b3e0-484a0cadb74f.png');  opcional, caso queira usar a imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
  }
  
  .login-box {
    padding-top: 150px;
  }

  .decor {
  position: absolute;
  top: 0;
  left: 15%;
  transform: scale(0.9);
  transform-origin: top left;
  opacity: 0.5;
  }
  .decor1 {
    position: absolute;
    bottom: 0;
    right: 50%;
    opacity: 0.5;
    
    }
  
  .login-box .finappLogo {
    width: 305px;
    height: 119px;
    padding-right: 10px;
  } 
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #522f85;
    color: white;
  }
  
  input::placeholder {
    color: #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #3d1b66;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    width: 355px; 
    height: 662px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: #3d1b66;
    position: relative;
  }
  